{

    "Client": {
                "host": "127.0.0.1",
                "port": 9091,
                "credentials": true,
                "username": "admin",
                "password": "adminadmin"
    },
    "General": {
                "prefix": {
                            "categories": "@",
                            "tiers": "%",
                            "tags": "#"
                },
                "tiers": {
                            "number": 9
                }
    }